body {
    font-family: 'Gothic A1', sans-serif;
font-family: 'Hahmlet', serif;
font-family: 'Noto Sans KR', sans-serif;
}
.d-none {
    display: none
}
.logo {
    width: 100px;
    margin: 0 auto;
}
.header-top {
    background: #f5f5f5;
    padding: 10px 0;
    font-size: 13px;
    text-align: center;
}
.header-top a {
    margin: 0 5px;
}
.header-top a:hover {
    color: #BB2649;
}
#gnb {
    display: flex;
    justify-content: center;
}
#gnb li {
    border : 1px solid #ccc;
    padding: 10px 20px;
}
#gnb a {
    text-transform: uppercase;
    font-size: 14px;
}
#gnb li:hover {
    background: #BB2649;
    color: white;
}
.page-title {
    background: #BB2649;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
    margin: 30px 0;
    color: white;
}
.page-title h2 {
    font-size: 40px;
}
.page-title p {
    font-size: 16px;
}
.type_tbl, .user_tbl {
    width: 800px;
    margin: 30px auto;
}
table {
    margin: 100px 0;
}
table, th, td {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.bt-2 { /*border-top*/
    border-top-width :2px;
    border-top-color: #888;
}
caption {
    font-size: 20px;
    margin-bottom: 10px;
}
th {
    background: #f5f5f5;
    text-align: left;
    text-indent: 20px;
    width: 20%;
    padding: 10px;
}
td {
    text-indent: 50px;
    border-left: 1px solid #ccc;
}
.screen_out {
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    overflow: hidden;
}
[for=u_avatar] {
    background: #BB2649;
    border-radius: 2px;
    padding: 3px 5px;
    color: white;
}
[type=file] {
    width: 0;
    height: 0;
}
.btns {
    text-align: center;
}
[type=submit] {
    background: #000;
    color: white;
    width: 100px;
    height: 40px;

}
[type=reset] {
    border: 1px solid #000;
    width: 100px;
    height: 40px;
}
aside {
    background: #000;    
}
.aside-wrap {
    color: white;
    text-align: center;
    padding: 15px 0;
    margin: 30px 0;
    font-size: 14px;
}
/* .aside-wrap a {
    margin: 0 5px;
} */
.aside-wrap a::after {     /*가상 선택자*/
    content: '|';
    margin:0 0 0 10px ;
}
.aside-wrap a:nth-child(4)::after {
    content: '';
}
address p {
    text-align: center;
}

.login_tbl {
    width: 600px;
    margin: 0 auto;
    border: 0;
}
/* source order에 따른 스타일 우선순위 : 나중에 적어준 스타일이 우선함 */
.login_tbl td {
    border: 0;
}
[for=login_id], [for=login_pw] {
    background: #bb264900;
    display: inline-block;
    width: 100px;
    text-align: left;
    text-indent: 0;
    padding: 10px 0;
    font-weight: bold;
}
#login_id, #login_pw {
    width: 300px;
    text-indent: 1rem;
}
.indent-0 {
    text-indent: 0;
}
#login {
    height: 70px;
    background:#BB2649;
}
.text-center {
    text-align: center;
}
.btn {
    color: white;
    padding: 5px 10px;

}
.round-btn {
    border-radius: 10px;
    background: #bb264950;
}
.round-btn:hover {
    background: #BB2649;
}
.privacy {
    display: none;      /*단추 클릭하면 보이게*/
    width: 600px;
    height: 500px;
    position: absolute;   /*위치속성 : 절대위치*/
    background: white;
    box-shadow: 0 0 5px #rgba(0,0,0,.4); /*그림자, 음영*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.privacy h2 {
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
}